
<div id="chatbox">

  <div id="chatview" class="p1" style="display: block;">
    <div id="profile">
      <img src="../assets/img/1_copy.jpg" class="big-avatar">
      <!--<div id="close">-->
        <!--<div class="cy s1 s2 s3"></div>-->
        <!--<div class="cx s1 s2 s3"></div>-->
      <!--</div>-->

      <p>Miro Badev</p>
      <span>mirobadev@gmail.com</span>
    </div>
    <div id="chat-messages">
      <label class="center-words">Thursday 02</label>

      <div class="message">
        <img class="avatar" src="../assets/img/1_copy.jpg">
        <div class="bubble">
          Really cool stuff!
          <div class="corner"></div>
        </div>
      </div>

      <div class="message right">
        <img class="avatar" src="../assets/img/2_copy.jpg">
        <div class="bubble">
          Can you share a link for the tutorial?
          <div class="corner"></div>
        </div>
      </div>

      <div class="message">
        <img class="avatar" src="../assets/img/1_copy.jpg">
        <div class="bubble">
          Yeah, hold on
          <div class="corner"></div>
        </div>
      </div>

      <div class="message right">
        <img class="avatar" src="../assets/img/2_copy.jpg">
        <div class="bubble">
          Can you share a link for the tutorial?
          <div class="corner"></div>
        </div>
      </div>

      <div class="message">
        <img class="avatar" src="../assets/img/1_copy.jpg">
        <div class="bubble">
          Yeah, hold on
          <div class="corner"></div>
        </div>
      </div>

      <div class="line-scale-pulse-out loader"><div></div><div></div><div></div><div></div><div></div></div>

    </div>

    <div id="sendmessage">
      <!--<input type="text" placeholder="Send message...">-->
      <!--<button class="send-text"><i class="fa fa-send"></i> </button>-->
      <button class="button button-3d button-pill record-audio" (click)="toggleRecord()" [class.recording]="recording">
        <i class="fa fa-microphone"></i>&nbsp;&nbsp;{{recording?'Recording':'Record'}}
      </button>
    </div>

  </div>

