
<div id="chatbox">

  <div id="chatview" class="p1" style="display: block;">
    <div id="profile">
      <img src="../assets/img/avatar.jpg" class="big-avatar">

      <p>Mic Chik</p>
      <span>micchik@gmail.com</span>
    </div>
    <div id="chat-messages" #chatMessages>
      <label class="center-words">Sunday 05</label>

      <div class="message">
        <img class="avatar" src="../assets/img/avatar.jpg">
        <div class="bubble">
          Really cool stuff!Really cool stuff!Really cool stuff!Really cool stuff!Really cool stuff!Really cool stuff!Really cool stuff!
          <div class="corner"></div>
        </div>
      </div>

      <div class="message right">
        <img class="avatar" src="../assets/img/2_copy.jpg">
        <div class="bubble">
          Can you share a link for the tutorial? Can you share a link for the tutorial? Can you share a link for the tutorial? Can you share a link for the tutorial? Can you share a link for the tutorial?
          <div class="corner"></div>
        </div>
      </div>

      <div class="message">
        <img class="avatar" src="../assets/img/avatar.jpg">
        <div class="bubble">
          Yeah, hold on
          <div class="corner"></div>
        </div>
      </div>

      <div class="message right">
        <img class="avatar" src="../assets/img/2_copy.jpg">
        <div class="bubble">
          Can you share a link for the tutorial?
          <div class="corner"></div>
        </div>
      </div>

      <div class="message">
        <img class="avatar" src="../assets/img/avatar.jpg">
        <div class="bubble">
          Yeah, hold on
          <div class="corner"></div>
        </div>
      </div>
      <div class="message">
        <img class="avatar" src="../assets/img/avatar.jpg">
        <div class="bubble bare">
          <div class="text-image">
            <div class="left-text">
              <div>
                <h3>123</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto assumenda cupiditate doloremque ipsam numquam, odit praesentium tenetur ut velit? Debitis dolor fugiat odit sapiente sit. Inventore iste nostrum perspiciatis.</p>
              </div>
            </div>
            <div class="right-image" [style.background-image]="'url(https://img3.doubanio.com/lpic/s29542916.jpg)'"></div>
          </div>
          <div class="corner"></div>
        </div>
      </div>

      <div *ngIf="loading" class="line-scale-pulse-out loader"><div></div><div></div><div></div><div></div><div></div></div>

    </div>

    <div id="sendmessage">
      <!--<input type="text" placeholder="Send message...">-->
      <!--<button class="send-text"><i class="fa fa-send"></i> </button>-->
      <button class="button button-3d button-pill record-audio" (click)="toggleRecord()" [class.recording]="recording">
        <i class="fa fa-microphone"></i>&nbsp;&nbsp;{{recording?'Recording':'Record'}}
      </button>
    </div>

  </div>


</div>
