$chatbox-width:400px;
$chatbox-height:600px;


#chatbox{
  width: $chatbox-width;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  height: $chatbox-height;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: - $chatbox-width / 2;
}


#chatview{
  overflow: hidden;
  border-radius: 6px;
  width: $chatbox-width;
  height: $chatbox-height;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

#profile{
  background: #fff url(../assets/img/timeline1.png) 0 0 no-repeat;
  background-size: cover;
  height: 200px;
  width:$chatbox-width;
  overflow: hidden;
  text-align: center;
  color: #fff;
  p{
    font-weight: 600;
    font-size: 15px;
    margin: 10px 0 -1px;
  }
  span{
    font-weight: 400;
    font-size: 11px;
  }
  img.big-avatar{
    width: 68px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: inline-block;
    margin-top: 40px;
  }
}

#close{
  position: absolute;
  top: 8px;
  opacity: 0.8;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


#chat-messages{
  width: $chatbox-width;
  height: $chatbox-height - 200px - 60px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 20px;
  label.center-words{
    color: #aab8c2;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    margin: 15px 0;
    width: $chatbox-width;
    display: block;
  }
  .message{
    padding: 0 0 30px 58px;
    clear: both;
    margin-bottom: 45px;
    img.avatar{
      float: left;
      margin-left: -38px;
      border-radius: 50%;
      width: 30px;
      margin-top: 12px;
    }
    .bubble{
      background: #f0f4f7;
      font-size: 13px;
      font-weight: 600;
      padding: 12px 13px;
      border-radius: 5px 5px 5px 0px;
      color: #8495a3;
      position: relative;
      float: left;
      .corner{
        background: url(../assets/img/bubble-corner.png) 0 0 no-repeat;
        position: absolute;
        width: 7px;
        height: 7px;
        left: -5px;
        bottom: 0;
      }
    }
  }
  .message.right{
    padding: 0 58px 30px 0;
    margin-right: -19px;
    margin-left: 19px;
    img.avatar{
      float: right;
      margin-left: 0;
      margin-right: -38px;
    }
    .bubble{
      float: right;
      border-radius: 5px 5px 0px 5px;
      .corner{
        background: url(../assets/img/bubble-cornerR.png) 0 0 no-repeat;
        left: auto;
        right: -5px;
      }
    }
  }
}


#sendmessage{
  overflow: hidden;
  border-radius: 6px;
  height: 60px;
  border-top: 1px solid #e7ebee;
  position: absolute;
  bottom: 0;
  right: 0px;
  width: $chatbox-width;
  background: #fff;
  input{
    background: #fff;
    margin: 21px 0 0 21px;
    border: none;
    padding: 0;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #aab8c2;

  }
  input::placeholder{
    color: #aab8c2;
  }
  button.send-text{
    //background: #fff url(../assets/img/send.png) 0 -41px no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 23px;
    border: none;
  }
  button.record-audio{
    width:60%;
    margin-top: 8px;
    margin-left: 20%;
  }
  button.record-audio.recording{
    top: 5px;
    //transition-property: all;
    //transition-duration: .15s;
    box-shadow: 0 2px 0 #bbb, 0 3px 3px rgba(0,0,0,.2);
  }
}


div.loader{
  text-align: center;
  margin-bottom: 30px;
  div{
    background: #8495a3;
  }
}
